<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <title>Housing Forecasting</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
.vertical-menu {
  width: 830px;
  height: 350px;
  overflow-y: auto;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}

 </style>
</head>
<body>

 <div class="login">
	<h1>Housing Pricing Forecasting</h1>
  <div class="vertical-menu">

   <!-- Form to enter new data for predictions  -->
   <div>
    {{ prediction_text }}
     </div>

    <form action="{{ url_for('predict')}} "method="POST">
<input type="text" name="bedrooms" placeholder="Bedrooms(Size of bedrooms e.g 3.0)" onchange="setTwoNumberDecimal" min="1.0" max="9.0" step="0.1" value="0.0" required="required" /><br>
    	<input type="text" name="bathrooms" placeholder="Bathrooms(Size of bathrooms e.g 2.5)" required="required" /><br>
        <input type="text" name="sqft_living" placeholder="Living Area(e.g 1890)" required="required" /><br>
        <input type="text" name="sqft_lot" placeholder="Living Lot(e.g 15084)" required="required" /><br>
        <input type="text" name="floors" placeholder="Floor Area(e.g 4.0)" required="required" /><br>
        <input type="text" name="waterfront" placeholder="Waterfront(one digit e.g 2.0)" required="required" />
        <input type="text" name="view" placeholder="View(one digit e.g 1.0 )"required="required" />
        <input type="text" name="condition" placeholder="Condition(one digit e.g 3.0)"required="required" />
        <input type="text" name="sqft_above" placeholder="Sqaure feet Above(e.g 1234 )"required="required" />
        <input type="text" name="sqft_basement" placeholder="Square feet basement(e.g 230 or 1234) "required="required" />
        <input type="text" name="yr_built" placeholder="Year built(What year was built )"required="required" />

        <input type="text" name="yr_renovated" placeholder="Year renovated(What year was renovated )"required="required" />




        <input type="text" name="city" placeholder="Click so that the city appear"required="required" />

         <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   </div>

        </div>




</body>
</html>
